<form class="upsert-store-form">
    <input id="id" name="id" type="text" style="display: none;" value="{{id}}">
    <div class="form-group">
        <label for="name">Store</label>
        <input id="name" name="name" type="text" class="form-control" placeholder="Enter store name" value="{{name}}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" class="form-control"
            placeholder="Enter store description" value="{{description}}">
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>